*.pyc
data/*
*.csv
*.png
!experiments/
!experiments/**
!experiments/**/figures/
!experiments/**/figures/*

# deep learning
*.ckpt
results/*
!**/default.yaml
notebooks/best_checkpoint.pth
tmp/**
stamp.egg-info/**
*.mdb

#IDE
.vscode/**
dataset/
moment/
embeddings/
temporary/
